.field {
	width: 300px;
	margin: 20px 0;
	display: flex;
	flex-wrap: wrap;
}
.cell {
	width: 100px;
	height: 100px;
	font-size: 50px;
	border: 1px solid black;
}

.cell:hover {
	background-color: #f0f0f0;
}
